:root {
	--primary-color: #160211;
	--background-color: #fff;
	--font-family: '"Inter", sans-serif';
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}
.container {
	width: 883px;
	max-width: 90%;
	margin: 0 auto;
}
.header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	color: var(--background-color);
	height: 50px;
	padding-inline: 26px;
}
.header__logo {
	padding-right: 40px;
}
.header__title {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: var(--background-color);
}
.header__action {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 26px;
}
.header__action--btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.footer {
	padding-bottom: 37px;
}

.footer__input {
	display: flex;
	width: 100%;
}
.footer__input--field {
	flex: 1;
	padding: 10px;
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	border-right: none;
	border-radius: 8px 0px 0px 8px;
}
.footer__input--field:focus {
	outline: none;
	border-top: 2px solid var(--primary-color);
	border-left: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-right: none;
}
.footer__input--field:focus + .footer__input--btn {
	outline: none;
	border-top: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}
.footer__input--btn {
	border-left: none;
	background-color: transparent;
	border-top: 1px solid var(--primary-color);
	border-right: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	padding: 10px;
	border-radius: 0px 8px 8px 0;
	cursor: pointer;
}
