:root {
	--primary-color: #160211;
	--background-color: #fff;
	--font-family: '"Inter", sans-serif';
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
::backdrop {
	background-image: linear-gradient(45deg, #ff86e1, #89bcff);
	opacity: 1;
}

dialog {
	background-color: var(--background-color);
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border: none;
	min-width: 300px;
}
dialog .dialog-button {
	margin-left: auto;
	display: block;
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	border-radius: 8px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}
dialog .dialog-message {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--primary-color);
}

.dialog--username {
	background-color: var(--background-color);
	padding: 25px 35px;
	border-radius: 8px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.dialog--username form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.dialog--username fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0;
}
.dialog--username fieldset label {
	color: #1b2b41b0;
	font-size: 15px;
}
.dialog--username fieldset input {
	padding: 10px;
	background-color: #1a38601a;
	color: #1b2b41b0;
	border: none;
	border-radius: 8px;
}
.dialog--username fieldset input:focus {
	outline: none;
	border: 2px solid var(--primary-color);
}
.dialog--username .dialog-form__btn {
	background-color: var(--primary-color);
	color: var(--background-color);
	border: none;
	border-radius: 8px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background-color);
	height: 100svh;
	max-height: 100svh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	align-items: end;
	padding: 36px 0;
}
.messages {
	max-height: 50svh;
	overflow-y: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.message {
	width: 50%;
	display: grid;
	grid-template-rows: auto;
	row-gap: 5px;
}
.message.message-mine {
	margin-left: auto;
}
.message-control {
	grid-row: 1;
	height: fit-content;
	width: fit-content;
	justify-self: end;
	align-self: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 4px;
}
.message-control span {
	width: 4px;
	height: 4px;
	background-color: var(--primary-color);
	border-radius: 50%;
	display: inline-block;
}

.message-author {
	display: flex;
	align-items: center;
	gap: 10px;
	grid-row: 1;
	align-self: center;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #000000;
}
.message .message-text {
	border: 1px solid var(--primary-color);
	border-radius: 8px;
	padding: 10px;
	font-size: 14px;
	margin: 0;
	background-color: var(--background-color);
	color: var(--primary-color);
	grid-column: 1 / 3;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
}
.message time {
	grid-column: 1 / 3;
	font-weight: 400;
	font-size: 14px;
	line-height: 134%;
	color: #56637e;
}

.container {
	width: 883px;
	max-width: 90%;
	margin: 0 auto;
}
.header {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	color: var(--background-color);
	height: 50px;
	padding-inline: 26px;
}
.header__logo {
	padding-right: 40px;
}
.header__title {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: var(--background-color);
}
.header__action {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 26px;
}
.header__action--btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: var(--background-color);
}
.footer {
	padding-bottom: 30px;
}

.footer-form {
	display: flex;
	width: 100%;
	position: relative;
}
.footer-form__input {
	flex: 1;
	padding: 10px;
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	border-right: none;
	border-radius: 8px 0px 0px 8px;
}
.footer-form__input:focus {
	outline: none;
	border-top: 2px solid var(--primary-color);
	border-left: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-right: none;
}
.footer-form__input:focus + .footer__input--btn {
	outline: none;
	border-top: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}
.footer-form__btn {
	border-left: none;
	background-color: transparent;
	border-top: 1px solid var(--primary-color);
	border-right: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	padding: 10px;
	border-radius: 0px 8px 8px 0;
	cursor: pointer;
}

/* editor */

#editorjs {
	width: 100%;
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	border-bottom: 1px solid var(--primary-color);
	border-right: none;
	border-radius: 8px 0px 0px 8px;
	padding: 10px;
}
#editorjs .codex-editor__redactor {
	padding-bottom: 0 !important;
}
.cdx-block {
	max-height: 20svh;
	overflow-y: auto;
}

.emoji-button {
	background-color: var(--primary-color);
	left: -40px;
	top: 10px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 100;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
	padding: 5px;
}
emoji-picker {
	position: absolute;
	z-index: 100;
	right: 0;
	top: -350px;
	display: none;
}

emoji-picker[open] {
	display: block;
}
@media screen and (min-width: 576px) {
	.messages {
		max-height: 65svh;
	}
}
